Package: com.strayfade.netsocket
Name: netsocket
Version: 1.2.4
Architecture: iphoneos-arm
Description: Forwards incoming notifications to a custom endpoint for compatibility with netsocket.
Maintainer: strayfade
Author: strayfade
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)