Package: com.strayfade.splashtext
Name: SplashText
Version: 1.0.0
Architecture: iphoneos-arm
Description: Minecraft style rotating splash text near lockscreen clock
Maintainer: strayfade
Author: strayfade
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
