Package: com.strayfade.sensorusagelog
Name: SensorUsageLog
Version: 1.0.0
Architecture: iphoneos-arm
Description: Detailed sensor usage monitor with app privacy rankings.
Maintainer: strayfade
Author: strayfade
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
