Package: com.strayfade.lstext
Name: LSText
Version: 1.0.0
Architecture: iphoneos-arm
Description: Shows custom text on lock screen.
Maintainer: strayfade
Author: strayfade
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
